In [3]:
#import Libraries
import pandas as pd
import numpy as np
from sklearn import pipeline,preprocessing,metrics,model_selection,ensemble
from sklearn_pandas import DataFrameMapper

In [4]:
print("Hello World");

Hello World

# Load Dataset

In [7]:
data=pd.read_csv('auto-mpg.csv')

# Show Dataset Head

In [8]:
data.head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

# Check For NULL Values

In [9]:
data.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

# See dataset shape

In [14]:
data.shape

(398, 9)

# Check Hoursepower Empry Values

In [15]:
horsepower_missing_ind = data[data.horsepower=='?'].index
data.loc[horsepower_missing_ind]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
32,25.0,4,98.0,?,2046,19.0,71,1,ford pinto
126,21.0,6,200.0,?,2875,17.0,74,1,ford maverick
330,40.9,4,85.0,?,1835,17.3,80,2,renault lecar deluxe
336,23.6,4,140.0,?,2905,14.3,80,1,ford mustang cobra
354,34.5,4,100.0,?,2320,15.8,81,2,renault 18i
374,23.0,4,151.0,?,3035,20.5,82,1,amc concord dl

# Convert Hoursepower Obj to float

In [18]:
data.loc[horsepower_missing_ind, 'horsepower'] = float('nan')
data.horsepower = data.horsepower.apply(pd.to_numeric)
data.loc[horsepower_missing_ind, 'horsepower'] = int( data.horsepower.mean() )

In [21]:
data.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
count,398.00,398.00,398.00,398.00,398.00,398.00,398.00,398.00
mean,23.51,5.45,193.43,104.46,2970.42,15.57,76.01,1.57
std,7.82,1.70,104.27,38.20,846.84,2.76,3.70,0.80
min,9.00,3.00,68.00,46.00,1613.00,8.00,70.00,1.00
25%,17.50,4.00,104.25,76.00,2223.75,13.83,73.00,1.00
50%,23.00,4.00,148.50,95.00,2803.50,15.50,76.00,1.00
75%,29.00,8.00,262.00,125.00,3608.00,17.18,79.00,2.00
max,46.60,8.00,455.00,230.00,5140.00,24.80,82.00,3.00

In [22]:
horsepower_missing_ind = data[data.horsepower=='?'].index
data.loc[horsepower_missing_ind]

Empty DataFrame
Columns: [mpg, cylinders, displacement, horsepower, weight, acceleration, model year, origin, car name]
Index: []

In [27]:
data.to_csv('auto-mpg.csv', index=False)

# Replace the Proceed dataset

In [29]:
data=pd.read_csv('auto-mpg.csv')

In [30]:
data.shape

(398, 9)

In [35]:
X=['cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin']
Y=['mpg']

In [40]:
from sklearn.ensemble import RandomForestClassifier

In [43]:
from sklearn.impute import SimpleImputer

In [47]:
pipeline_obj = pipeline.Pipeline([
    ("model", ensemble.RandomForestRegressor())
])

# Fit The Model

In [48]:
pipeline_obj.fit(data[X],data[Y])

/home/rayhan/.local/lib/python3.8/site-packages/sklearn/pipeline.py:346: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)

Pipeline(steps=[('model', RandomForestRegressor())])

In [49]:
pipeline_obj.predict(data[X])

array([17.4  , 14.895, 17.27 , 16.24 , 17.036, 14.63 , 13.94 , 14.19 ,
       13.58 , 14.62 , 14.875, 14.5  , 15.195, 14.59 , 24.019, 21.438,
       18.96 , 20.902, 27.025, 26.525, 24.475, 24.391, 24.56 , 25.129,
       20.828, 10.62 , 11.015, 11.735,  9.44 , 27.065, 26.55 , 25.012,
       25.72 , 19.514, 16.601, 17.46 , 18.55 , 18.106, 13.995, 13.67 ,
       14.13 , 14.24 , 12.34 , 12.98 , 12.73 , 18.16 , 22.375, 18.591,
       18.23 , 23.529, 27.205, 29.485, 29.265, 31.7  , 33.695, 26.96 ,
       26.63 , 24.662, 25.44 , 23.66 , 20.703, 22.354, 13.31 , 13.645,
       14.58 , 14.065, 16.07 , 11.75 , 12.865, 12.545, 13.01 , 20.354,
       14.89 , 13.54 , 13.39 , 14.11 , 19.283, 22.435, 20.63 , 25.93 ,
       22.71 , 26.79 , 22.969, 27.506, 26.98 , 13.33 , 14.54 , 13.57 ,
       14.105, 14.665, 12.05 , 13.09 , 13.25 , 14.12 , 12.52 , 12.05 ,
       13.45 , 18.427, 16.282, 18.385, 18.169, 21.837, 26.225, 11.46 ,
       12.25 , 12.82 , 12.395, 18.44 , 22.232, 21.595, 22.89 , 22.415,
       20.056, 21.39 , 26.03 , 14.34 , 14.94 , 28.92 , 24.495, 21.711,
       19.967, 15.17 , 23.216, 20.592, 12.3  , 20.358, 20.354, 19.19 ,
       16.259, 31.245, 25.401, 31.95 , 24.822, 16.345, 16.145, 17.821,
       15.47 , 13.28 , 13.98 , 13.69 , 14.185, 27.635, 27.396, 26.057,
       31.72 , 31.65 , 27.225, 25.09 , 25.83 , 23.902, 25.284, 29.783,
       19.14 , 17.813, 15.503, 15.879, 15.1  , 14.845, 15.29 , 14.35 ,
       17.238, 16.03 , 15.5  , 17.711, 20.239, 19.872, 15.203, 28.205,
       23.858, 19.88 , 23.028, 23.975, 25.73 , 23.907, 19.096, 28.795,
       18.885, 23.276, 22.268, 21.479, 24.039, 32.49 , 26.771, 25.315,
       24.909, 25.899, 27.175, 16.49 , 15.61 , 16.262, 14.78 , 21.214,
       20.849, 23.045, 21.244, 29.444, 25.994, 28.965, 32.877, 19.503,
       18.447, 18.314, 18.278, 29.46 , 31.964, 27.835, 25.845, 20.054,
       13.6  , 19.845, 19.632, 17.333, 15.535, 13.7  , 13.718, 13.64 ,
       31.534, 29.92 , 33.572, 25.602, 33.378, 16.511, 16.894, 15.672,
       15.269, 17.834, 20.16 , 19.033, 18.289, 15.85 , 15.639, 15.679,
       15.753, 29.856, 24.689, 26.477, 24.977, 30.69 , 31.811, 30.621,
       30.166, 21.762, 22.575, 21.797, 40.455, 35.24 , 35.151, 37.389,
       35.219, 19.67 , 18.936, 19.469, 19.037, 20.196, 20.519, 24.851,
       19.888, 19.778, 20.532, 20.695, 18.752, 18.932, 18.733, 17.723,
       18.65 , 17.197, 30.382, 25.629, 26.319, 30.018, 23.213, 23.209,
       23.363, 24.323, 21.198, 17.71 , 22.08 , 17.017, 31.905, 30.546,
       21.376, 21.455, 23.413, 20.412, 20.677, 17.486, 17.875, 17.213,
       17.897, 16.409, 16.161, 19.862, 17.753, 33.67 , 34.25 , 35.571,
       27.84 , 25.956, 21.271, 27.496, 22.24 , 34.493, 34.456, 33.407,
       36.473, 27.745, 27.938, 26.376, 30.958, 39.01 , 37.529, 33.285,
       36.622, 27.787, 25.88 , 25.033, 20.672, 34.562, 29.93 , 31.24 ,
       35.213, 33.059, 42.487, 26.619, 40.496, 43.038, 40.76 , 34.103,
       30.018, 40.929, 38.961, 34.078, 32.402, 28.494, 27.138, 33.51 ,
       24.418, 32.746, 28.371, 27.001, 26.536, 24.417, 31.133, 37.958,
       37.937, 35.982, 33.264, 36.905, 36.948, 34.208, 34.661, 34.422,
       31.764, 33.393, 33.867, 34.072, 32.711, 31.681, 31.211, 28.228,
       28.663, 26.138, 25.69 , 21.933, 24.605, 22.174, 21.169, 28.468,
       27.666, 33.334, 30.003, 29.052, 26.974, 24.804, 23.813, 35.986,
       36.094, 33.224, 37.306, 35.348, 36.106, 35.558, 33.85 , 36.166,
       33.859, 36.652, 25.232, 32.853, 27.044, 24.265, 30.383, 34.15 ,
       26.097, 26.938, 41.565, 32.469, 28.365, 29.764])

In [50]:
temp={}
temp['cylinders']=1
temp['displacement']=2
temp['horsepower']=3
temp['weight']=4
temp['acceleration']=5
temp['model year']=6
temp['origin']=1

In [51]:
testDtaa=pd.DataFrame({'x':temp}).transpose()

In [52]:
testDtaa

,acceleration,cylinders,displacement,horsepower,model year,origin,weight
x,5,1,2,3,6,1,4

In [55]:
pipeline_obj.predict(testDtaa)[0]

31.761999999999997

In [58]:
import joblib

In [59]:
joblib.dump(pipeline_obj,'RFModelforMPG.pkl')

['RFModelforMPG.pkl']

# Save the model in Pkl Format

In [60]:
modelReload=joblib.load('RFModelforMPG.pkl')

In [61]:
modelReload.predict(data[X])

array([17.4  , 14.895, 17.27 , 16.24 , 17.036, 14.63 , 13.94 , 14.19 ,
       13.58 , 14.62 , 14.875, 14.5  , 15.195, 14.59 , 24.019, 21.438,
       18.96 , 20.902, 27.025, 26.525, 24.475, 24.391, 24.56 , 25.129,
       20.828, 10.62 , 11.015, 11.735,  9.44 , 27.065, 26.55 , 25.012,
       25.72 , 19.514, 16.601, 17.46 , 18.55 , 18.106, 13.995, 13.67 ,
       14.13 , 14.24 , 12.34 , 12.98 , 12.73 , 18.16 , 22.375, 18.591,
       18.23 , 23.529, 27.205, 29.485, 29.265, 31.7  , 33.695, 26.96 ,
       26.63 , 24.662, 25.44 , 23.66 , 20.703, 22.354, 13.31 , 13.645,
       14.58 , 14.065, 16.07 , 11.75 , 12.865, 12.545, 13.01 , 20.354,
       14.89 , 13.54 , 13.39 , 14.11 , 19.283, 22.435, 20.63 , 25.93 ,
       22.71 , 26.79 , 22.969, 27.506, 26.98 , 13.33 , 14.54 , 13.57 ,
       14.105, 14.665, 12.05 , 13.09 , 13.25 , 14.12 , 12.52 , 12.05 ,
       13.45 , 18.427, 16.282, 18.385, 18.169, 21.837, 26.225, 11.46 ,
       12.25 , 12.82 , 12.395, 18.44 , 22.232, 21.595, 22.89 , 22.415,
       20.056, 21.39 , 26.03 , 14.34 , 14.94 , 28.92 , 24.495, 21.711,
       19.967, 15.17 , 23.216, 20.592, 12.3  , 20.358, 20.354, 19.19 ,
       16.259, 31.245, 25.401, 31.95 , 24.822, 16.345, 16.145, 17.821,
       15.47 , 13.28 , 13.98 , 13.69 , 14.185, 27.635, 27.396, 26.057,
       31.72 , 31.65 , 27.225, 25.09 , 25.83 , 23.902, 25.284, 29.783,
       19.14 , 17.813, 15.503, 15.879, 15.1  , 14.845, 15.29 , 14.35 ,
       17.238, 16.03 , 15.5  , 17.711, 20.239, 19.872, 15.203, 28.205,
       23.858, 19.88 , 23.028, 23.975, 25.73 , 23.907, 19.096, 28.795,
       18.885, 23.276, 22.268, 21.479, 24.039, 32.49 , 26.771, 25.315,
       24.909, 25.899, 27.175, 16.49 , 15.61 , 16.262, 14.78 , 21.214,
       20.849, 23.045, 21.244, 29.444, 25.994, 28.965, 32.877, 19.503,
       18.447, 18.314, 18.278, 29.46 , 31.964, 27.835, 25.845, 20.054,
       13.6  , 19.845, 19.632, 17.333, 15.535, 13.7  , 13.718, 13.64 ,
       31.534, 29.92 , 33.572, 25.602, 33.378, 16.511, 16.894, 15.672,
       15.269, 17.834, 20.16 , 19.033, 18.289, 15.85 , 15.639, 15.679,
       15.753, 29.856, 24.689, 26.477, 24.977, 30.69 , 31.811, 30.621,
       30.166, 21.762, 22.575, 21.797, 40.455, 35.24 , 35.151, 37.389,
       35.219, 19.67 , 18.936, 19.469, 19.037, 20.196, 20.519, 24.851,
       19.888, 19.778, 20.532, 20.695, 18.752, 18.932, 18.733, 17.723,
       18.65 , 17.197, 30.382, 25.629, 26.319, 30.018, 23.213, 23.209,
       23.363, 24.323, 21.198, 17.71 , 22.08 , 17.017, 31.905, 30.546,
       21.376, 21.455, 23.413, 20.412, 20.677, 17.486, 17.875, 17.213,
       17.897, 16.409, 16.161, 19.862, 17.753, 33.67 , 34.25 , 35.571,
       27.84 , 25.956, 21.271, 27.496, 22.24 , 34.493, 34.456, 33.407,
       36.473, 27.745, 27.938, 26.376, 30.958, 39.01 , 37.529, 33.285,
       36.622, 27.787, 25.88 , 25.033, 20.672, 34.562, 29.93 , 31.24 ,
       35.213, 33.059, 42.487, 26.619, 40.496, 43.038, 40.76 , 34.103,
       30.018, 40.929, 38.961, 34.078, 32.402, 28.494, 27.138, 33.51 ,
       24.418, 32.746, 28.371, 27.001, 26.536, 24.417, 31.133, 37.958,
       37.937, 35.982, 33.264, 36.905, 36.948, 34.208, 34.661, 34.422,
       31.764, 33.393, 33.867, 34.072, 32.711, 31.681, 31.211, 28.228,
       28.663, 26.138, 25.69 , 21.933, 24.605, 22.174, 21.169, 28.468,
       27.666, 33.334, 30.003, 29.052, 26.974, 24.804, 23.813, 35.986,
       36.094, 33.224, 37.306, 35.348, 36.106, 35.558, 33.85 , 36.166,
       33.859, 36.652, 25.232, 32.853, 27.044, 24.265, 30.383, 34.15 ,
       26.097, 26.938, 41.565, 32.469, 28.365, 29.764])

In [62]:
modelReload.predict(testDtaa)[0]

31.761999999999997